# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
.venv/
env/
ENV/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data files (no subir CSV grandes; si quieres subir dataset pequeño, edítalo)
data/*.csv
data/*.zip

# Secrets, configs
.kaggle/
kaggle.json
.env
.env.*

# Other
*.log
